@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.shape { 
  width: 268px;
  height: 380px;
}

.circle { 
   clip-path: polygon(
    60.368% 0%,60.368% 0%,61.182% 0.042%,61.955% 0.164%,62.675% 0.359%,63.332% 0.62%,
    63.917% 0.941%,64.419% 1.316%,64.827% 1.737%,65.131% 2.198%,65.321% 2.693%,
    65.387% 3.214%,65.387% 3.214%,65.453% 3.736%,65.643% 4.23%,65.947% 4.691%,
    66.355% 5.113%,66.857% 5.487%,67.442% 5.808%,68.099% 6.07%,68.819% 6.265%,
    69.592% 6.387%,70.406% 6.429%,82.693% 6.429%,82.693% 6.429%,85.501% 6.574%,
    88.164% 6.994%,90.647% 7.666%,92.914% 8.567%,94.931% 9.675%,96.661% 10.967%,
    98.068% 12.419%,99.118% 14.009%,99.773% 15.715%,100% 17.513%,100% 90%,
    100% 90%,99.796% 91.622%,99.204% 93.161%,98.257% 94.596%,96.988% 95.906%,
    95.427% 97.071%,93.608% 98.071%,91.562% 98.884%,89.322% 99.49%,86.919% 99.869%,
    84.387% 100%,15.613% 100%,15.613% 100%,13.081% 99.869%,10.678% 99.49%,
    8.438% 98.884%,6.392% 98.071%,4.573% 97.071%,3.012% 95.906%,1.743% 94.596%,
    0.796% 93.161%,0.204% 91.622%,0% 90%,0% 10%,0% 10%,0.204% 8.378%,0.796% 6.839%,
    1.743% 5.404%,3.012% 4.094%,4.573% 2.929%,6.392% 1.929%,8.438% 1.116%,10.678% 0.51%,
    13.081% 0.131%,15.613% 0%,60.368% 0%
  );
}

.circle-2 { 
  clip-path: polygon(
    87.778% 50.004%,87.778% 50.004%,89.767% 50.187%,91.652% 50.633%,93.408% 51.32%,95.009% 52.225%,96.431% 53.327%,
    97.65% 54.605%,98.641% 56.037%,99.38% 57.601%,99.841% 59.276%,100% 61.039%,100% 88.961%,100% 88.961%,
    99.836% 90.752%,99.36% 92.45%,98.6% 94.034%,97.579% 95.481%,96.325% 96.767%,94.864% 97.87%,93.22% 98.768%,
    91.419% 99.437%,89.489% 99.856%,87.454% 100%,12.546% 100%,12.546% 100%,10.511% 99.856%,8.581% 99.437%,
    6.78% 98.768%,5.137% 97.87%,3.675% 96.767%,2.421% 95.481%,1.4% 94.034%,0.64% 92.45%,0.164% 90.752%,0% 88.961%,
    0% 61.039%,0% 61.039%,0.159% 59.276%,0.62% 57.601%,1.359% 56.037%,2.35% 54.605%,3.569% 53.327%,4.991% 52.225%,
    6.592% 51.32%,8.348% 50.633%,10.233% 50.187%,12.222% 50.004%,12.546% 50%,12.546% 50%,10.511% 49.856%,8.581% 49.437%,
    6.78% 48.768%,5.137% 47.87%,3.675% 46.767%,2.421% 45.481%,1.4% 44.034%,0.64% 42.45%,0.164% 40.752%,0% 38.961%,
    0% 11.039%,0% 11.039%,0.164% 9.248%,0.64% 7.55%,1.4% 5.966%,2.421% 4.519%,3.675% 3.233%,5.137% 2.13%,6.78% 1.232%,
    8.581% 0.563%,10.511% 0.144%,12.546% 0%,87.454% 0%,87.454% 0%,89.489% 0.144%,91.419% 0.563%,93.22% 1.232%,94.864% 2.13%,
    96.325% 3.233%,97.579% 4.519%,98.6% 5.966%,99.36% 7.55%,99.836% 9.248%,100% 11.039%,100% 38.961%,100% 38.961%,
    99.836% 40.752%,99.36% 42.45%,98.6% 44.034%,97.579% 45.481%,96.325% 46.767%,94.864% 47.87%,93.22% 48.768%,91.419% 49.437%,
    89.489% 49.856%,87.454% 50%,87.778% 50.004%
  );
}

.circle-3 { 
  clip-path: polygon(39.517% 0%,39.517% 0%,38.721% 0.042%,37.967% 0.164%,37.263% 0.359%,36.621% 0.62%,36.049% 0.941%,35.559% 1.316%,35.16% 1.737%,34.863% 2.198%,34.677% 2.693%,34.613% 3.214%,34.613% 3.214%,34.548% 3.736%,34.363% 4.23%,34.065% 4.691%,33.666% 5.113%,33.176% 5.487%,32.605% 5.808%,31.962% 6.07%,31.259% 6.265%,30.504% 6.387%,29.708% 6.429%,17.306% 6.429%,17.306% 6.429%,14.499% 6.577%,11.836% 7.007%,9.353% 7.695%,7.085% 8.617%,5.069% 9.751%,3.339% 11.073%,1.932% 12.559%,0.882% 14.186%,0.227% 15.932%,0% 17.772%,0% 89.88%,0% 89.88%,0.202% 91.521%,0.787% 93.078%,1.724% 94.53%,2.979% 95.857%,4.523% 97.036%,6.322% 98.047%,8.345% 98.87%,10.561% 99.484%,12.937% 99.868%,15.441% 100%,84.559% 100%,84.559% 100%,87.063% 99.868%,89.439% 99.484%,91.655% 98.87%,93.678% 98.047%,95.477% 97.036%,97.021% 95.857%,98.276% 94.53%,99.213% 93.078%,99.798% 91.521%,100% 89.88%,100% 10.12%,100% 10.12%,99.798% 8.479%,99.213% 6.922%,98.276% 5.47%,97.021% 4.143%,95.477% 2.964%,93.678% 1.953%,91.655% 1.13%,89.439% 0.516%,87.063% 0.132%,84.559% 0%,39.517% 0%);

}